/* Font */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General & Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
    scroll-behavior: smooth;
}

section {
    padding: 2.5em;
    width: 100%;
    min-height: 100vh;
    background: #000;
    color: #fff;
}

.sectionTitle {
    width: 100%;
    text-align: center;
    margin-top: 8vh;
}

.sectionTitle h2 {
    position: relative;
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.sectionTitle h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10%;
    width: 60px;
    height: 4px;
    background: #fff;
}

p {
    font-size: 1.3em;
    margin: 20px 0;
    font-weight: 300;
}


/* Buttons */

.btn {
    position: relative;
    background: transparent;
    color: var(--crl);
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    overflow: hidden;
}

.btn:hover {
    background: var(--crl);
    color: black;
    box-shadow: 0 0 50px var(--crl);
    transition-delay: 0.5s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-top: 2px solid var(--crl);
    border-left: 2px solid var(--crl);
    transition: 0.5s;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid var(--crl);
    border-right: 2px solid var(--crl);
    transition: 0.5s;
}

.btn:hover::before,
.btn:hover::after {
    width: 100%;
    height: 100%;
}


/* Home section */

.home {
    position: relative;
    width: 100%;
    height: 90vh;
}

section#home {
    /* background: linear-gradient(75deg, black, black, black, #0B0B0B, #1B1B1B, #2B2B2B, #1B1B1B,  #0B0B0B, black, black, black, black, black); */
    background: black;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    /* animation: bgAnim 3s ease-in forwards; */
    /* overflow: hidden; */
}
/* 
@keyframes bgAnim {
	0% {
		background-position: 0% 30%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 100% 0%;
	}
} */

/* Header ANTIGO*/
/* 
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    backdrop-filter: blur(15px);
    height: 10vh;
    z-index: 100;
    padding: 0 5%;
}

.headerLogo {
    width: auto;
    height: 100%;
    padding: .7em;
}

.headerLogo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.headerNav {
    display: flex;
    list-style: none;
}

.headerNav li {
    margin-inline: 10px;
}

.headerNav a {
    font-weight: 500;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.headerNav a:hover {
    font-weight: bold;
    color: #f65d35;
}

.headerBtn {
    display: none;
}
 */

/* Texts (on left) */

.contentHome {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    animation: homeTitleAnim 1s forwards 0s;
}

.home .contentHome h4>span {
    color: #f65d35;
    font-size: 1.5em;
    font-weight: 700;
}

.home .contentHome h4 {
    font-size: 1.7em;
    font-weight: 400;
    animation: homeTitleAnim 1s forwards 0s;
}

.home .contentHome h2 {
    font-size: 2.5em;
    line-height: 1em;
    animation: homeTitleAnim 1s forwards 0.5s;
}

@keyframes homeTitleAnim {
    0%,
    25% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.btnAbout {
    margin-top: 1em;
}

.socialMedia {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15%;
}

.socialMedia li {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    list-style: none;
}

.socialMedia li svg {
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    opacity: 0.7;
    filter: grayscale(1);
    fill: #fff;
    stroke: #fff;
    /* transition: .5s; */
    /* Definição específica para cada transição */
    transition: 
        transform 0.4s ease-in-out, 
        opacity 0.4s ease-in-out, 
        filter 0.6s ease-in-out; /* Delay de 0.3s apenas no grayscale */
}

.socialMedia li svg:hover {
    transform: scale(0.6);
    opacity: 1;
    filter: grayscale(0);
}

.socialMedia #instagramIcon:hover {
    stroke: url(#gradienteInstagram);
    fill: url(#gradienteInstagram);
}
.socialMedia #githubIcon:hover {
    stroke: url(#gradienteGithub);
    fill: url(#gradienteGithub);
}
.socialMedia #linkedinIcon:hover {
    stroke: url(#gradienteLinkedin);
    fill: url(#gradienteLinkedin);
}

/* Media icons on the header */
.socialHeader {
    display: none;
}

/* Logo (on right) */

.profileBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.profileBox::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, #000, transparent);
    z-index: 1;
}

.profileBox img {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* About section */

.contentAbout p {
    letter-spacing: 1px;
}

.contentAbout .imgBoxAbout {
    background: red;
}


/* Projects section */

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
}

.card {
    position: relative;
    width: 18em;
    height: 22em;
    margin: 1.5em;
    background: #111;
    border-radius: 1em;
    box-shadow: 0 0 40px rgba(56, 56, 56, 0);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(56, 56, 56, 1);
}

/* .card::before,
.card::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, #f65d35);
    animation: cardBorder 4s linear infinite;
}

.card::after {
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation-delay: -2s;
}

@keyframes cardBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

.card span {
    position: absolute;
    inset: 2px;
    border-radius: 1em;
    background: #111;
    z-index: 1;
}

.cardBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.cardBox img {
    position: relative;
    width: 13em;
    height: 13em;
    margin-bottom: 2em;
}

.cardBox a {
    width: 100%;
}


/* Contact section */

.contactForm {
    position: relative;
    width: min(100% - 2em);
    height: 100%;
    margin-top: 2em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm form {
    width: 100%;
    height: 100%;
    padding: 2em;
}

.contactForm input,
.contactForm textarea {
    background: #111;
    width: 100%;
    margin-block: 0.5em;
    border: none;
    outline: currentColor;
    padding: 0.5em;
    font-size: 1.4em;
    line-height: 1.2em;
    color: #fff;
}

.contactForm form textarea {
    max-width: 100%;
    height: 50vh;
}

.formButtons {
    margin-top: 1em;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.formButtons button {
    margin-inline: 2em;
    border: none;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col50 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 1em;
}

.col100 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin: 0 1em;
}


/* Mediaqueryies */

@media (max-width: 1000px) {
    section#home {
        padding: 0;
    }

    .headerBtn {
        display: block !important;
    }

    .headerNav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-right: -100%;
        background: #000000cc;
        transition: .4s;
    }

    .headerNav.active {
        margin-right: 0%;
    }

    .profileBox {
        top: 0;
        right: auto;
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        padding: 2.5em;
    }

    .profileBox::before {
        z-index: 0;
    }

    .profileBox img {
        width: auto;
        clip-path: circle(max(20%, 30%, 40%));
    }
    
    .contentHome {
        width: 100%;
        height: 80%;
        top: auto;
        bottom: 0;
        padding: min(2em, 3em, 5em);
    }

    .socialMedia {
        margin-top: auto;
    }

    .contactForm,
    .contactForm form {
        padding: 0.5em;
    }

    .row {
        display: flex;
        flex-direction: column;
    }
    .col50 {
        width: 100%;
    }

    form textarea {
        height: 30%;
    }

    .formButtons button {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .socialMedia {
        display: none;
    }

    .socialHeader {
        display: block;
    }
}



/* Remaking header */

header {
    position: fixed;
    width: 100%;
    padding-inline: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    backdrop-filter: blur(5px);
    background: #00000033;
}

.headerLogo {
    width: 60px;
    height: 60px;
    padding: 5px;
    display: grid;
    place-items: center;
}

.headerLogo img {
    width: 85%;
    height: 85%;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

header ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: 1em;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    color: white;
    transition: .4s;
}

.nav-link:hover {
    letter-spacing: 1px;
    color: #f65d35;
}

.headerBtn {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background: #d30;
    display: none;
}

header:has(.headerNav.active) .headerBtn{
    position: absolute;
}